*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
	font-family: emulogic;
	src: url("../fonts/emulogic.ttf");
}


body{
  width: 80vw;
  height: 90vh;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  line-height: 2rem;
  text-align: center;
  
}
canvas{
  padding: 5px;
  border: 4px solid #00f;
}